*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
html,
body{
width: 100%;
height: 100%;
background-color:  rgb(107, 145, 211);

display: flex;
justify-content: center;
align-items: center;
}
.tela,
.login{
width: 50%;
height: 100%;
}
.container{
width: 90%;
height: 80%;
background-color: rgb(107, 145, 211);
display: flex;
border-radius: 3%;
box-shadow:0 0 10px rgb(23, 23, 23) ;
overflow: hidden;
padding: 20px;
}
.tela{
padding:40px 30px ;
display: flex;
flex-direction: column;
background-color:rgb(107, 145, 211);
border-radius: 3%;
text-align: center;
justify-content: center;
color: aliceblue;




}
.login{

padding-left: 30px;
padding-right: 30px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-color: white;
border-radius: 3%;

}
.login h1{
color: rgb(31, 30, 30);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: flex-start;
justify-content: flex-end;

}
form{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap:20px;
}

form input{
    padding: 10px 15px;
}

form #nome,
form #idade{
    width: calc(50% - 10px);
}

form #mail{
    width: 100%;
}

form #password{
    width: 100%;
}

select{
    color: black;
}
.but{
    height: 40px;
    width: 50px;
    width: 50%;
    align-items: center;
}